codecov==2.0.5
coverage==4.3.4
Django==1.10.5
djangorestframework==3.5.3
djangorestframework-jwt==1.9.0
python-dateutil==2.6.0
ovp-core==1.2.4
ovp-uploads==1.0.2
ovp-projects==1.2.8
ovp-organizations==1.0.11
shortuuid==0.5.0
